{% import "macros.tera" as macros %}

{# Generated core register function #}
{%- macro register_core_func(types_mod,reg, base_addr) -%}
{%- set reg_struct = reg.name | to_struct_id -%}
{%- set reg_struct_name = types_mod ~ "::" ~  reg_struct  -%}
{%- set reg_mod_name = reg.name | to_mod_id -%}
{%- set reg_addr = base_addr+reg.offset | to_hex -%}
#[doc = r"{{reg.description | svd_description_to_doc}}"]
#[inline(always)]
{% if reg.dim == 1 -%}
pub const fn {{reg.name | to_func_id }}(&self) -> crate::common::RegCore<{{reg_struct_name}}, {{reg_addr}},{{reg.reset_value}}> {
    unsafe { crate::common::RegCore::new() }
}
{%- else -%}
{%- for index in range(end=reg.dim) -%}
pub const fn {{reg.name~index| to_func_id }}(&self)-> crate::common::RegCore<{{reg_struct_name}}, {{base_addr+reg.offset+index*reg.dim_increment | to_hex }},{{reg.reset_value}}> {
    unsafe { crate::common::RegCore::new() }
}
{% endfor -%}
{%- endif -%}
{%- endmacro -%}


{# Generated core cluster unrolled into register function #}
{%- macro cluster_register_core_func(types_mod,reg,base_addr,cluster_index,cluster) -%}
{%- set reg_struct = cluster.name~"_"~reg.name | to_struct_id -%}
{%- set reg_struct_name = types_mod ~ "::" ~  reg_struct  -%}
{%- set reg_addr = base_addr+reg.offset | to_hex -%}
#[doc = r"{{reg.description | svd_description_to_doc}}"]
#[inline(always)]
{% if reg.dim == 1 -%}
{% if cluster.dim == 1 -%}
pub const fn {{cluster.name~"_"~reg.name| to_func_id }}(&self) -> crate::common::RegCore<{{reg_struct_name}}, {{reg_addr}},{{reg.reset_value}}> {
    unsafe { crate::common::RegCore::new() }
}
{%- else -%}
pub const fn {{cluster.name~"_"~reg.name~cluster_index| to_func_id }}(&self) -> crate::common::RegCore<{{reg_struct_name}}, {{reg_addr}},{{reg.reset_value}}> {
    unsafe { crate::common::RegCore::new() }
}
{%- endif -%}
{%- else -%}
{%- for reg_index in range(end=reg.dim) -%}
{% if cluster.dim == 1 -%}
pub const fn {{cluster.name~"_"~reg.name~reg_index| to_func_id }}(&self)-> crate::common::RegCore<{{reg_struct_name}}, {{base_addr+reg.offset+reg_index*reg.dim_increment | to_hex }},{{reg.reset_value}}> {
    unsafe { crate::common::RegCore::new() }
}
{%- else -%}
pub const fn {{cluster.name~"_"~reg.name~"_"~cluster_index~"_"~reg_index| to_func_id }}(&self)-> crate::common::RegCore<{{reg_struct_name}}T, {{base_addr+reg.offset+reg_index*reg.dim_increment | to_hex }},{{reg.reset_value}}> {
    unsafe { crate::common::RegCore::new() }
}
{%- endif -%}
{% endfor -%}
{%- endif -%}
{%- endmacro -%}

{# Unroll the cluster register for aurix csfr #}
{%- macro cluster_func_csfr(types_mod,cluster, base_addr) -%}
{%- set cluster_struct_id = cluster.name | to_struct_id -%}
{%- set cluster_base_addr = base_addr+cluster.offset -%}
#[doc = "{{cluster.description | svd_description_to_doc}}"]
{%- if cluster.dim == 1 %}
{% for register_name,reg in cluster.registers -%}
{{self::cluster_register_core_func(types_mod="self",reg=reg, base_addr=cluster_base_addr,cluster_index=0,cluster=cluster)}}
{% endfor -%}
{%- else %}
{%- for index in range(end=cluster.dim) -%}
{%- set current_cluster_addr = cluster_base_addr+index*cluster.dim_increment -%}
{% for register_name,reg in cluster.registers -%}
{{self::cluster_register_core_func(types_mod="self",reg=reg, base_addr=current_cluster_addr,cluster_index=index,cluster=cluster)}}
{% endfor -%}
{% endfor -%}
{%- endif -%}
{%- endmacro -%}


{%- macro register_core_struct(reg,reg_name="") -%}
{%-if reg_name %}
{%- set reg_struct_name = reg_name | to_struct_id -%}
{%- set reg_mod_name = reg_name | to_mod_id -%}
{%- else -%}
{%- set reg_struct_name = reg.name | to_struct_id -%}
{%- set reg_mod_name = reg.name | to_mod_id -%}
{%- endif -%}


{{macros::doc_attribute(documentation=reg.description)}}
#[derive(Copy, Clone, Eq, PartialEq)]
pub struct {{reg_struct_name}} {
    pub(crate) data: {{macros::reg_size2num_type(bit_size=reg.size)}},
    pub(crate) mask: {{macros::reg_size2num_type(bit_size=reg.size)}}
}

impl crate::common::RegisterValue for {{reg_struct_name}} {
    type DataType = {{macros::reg_size2num_type(bit_size=reg.size)}};

    fn inner_mut(&mut self) -> (&mut Self::DataType, &mut Self::DataType) {
        (&mut self.data, &mut self.mask)
    }

    fn inner(&self) -> (Self::DataType, Self::DataType) {
        (self.data, self.mask)
    }

    fn new(data: Self::DataType) -> Self {
        Self {
            data,
            mask: 0x0,
        }
    }
}




{% if reg.access == "R" or reg.access == "RW" -%}
unsafe impl crate::common::ReadCore for {{reg_struct_name}} {}
{% endif -%}
{% if reg.access == "W" or reg.access == "RW" -%}
unsafe impl crate::common::WriteCore for {{reg_struct_name}} {}
{% endif -%}



{% if not reg.fields %}
impl crate::common::NoBitfieldReg for {{reg_struct_name}} {}
{% else -%}
impl {{reg_struct_name}} {
    {%- for field_name,field in reg.fields %}
    {{macros::field_doc(field=field)}}
    #[inline(always)]
    {%- if field.dim > 1 -%}
    pub fn {{field.name | to_func_id }}(self,index:u8) -> {{macros::bitfield_type(field=field,reg_struct_name=reg_struct_name,reg_mod_name=reg_mod_name,turbofish=false)}} {
        assert!(index < {{field.dim}});
        {{macros::bitfield_type(field=field,reg_struct_name=reg_struct_name,reg_mod_name=reg_mod_name,turbofish=true)}}::from_register(self,index)
     
    }
    {%- for func_name in field.dim_index %}
    #[inline(always)]
    pub fn {{func_name | to_func_id }}(self) -> {{macros::bitfield_type(field=field,reg_struct_name=reg_struct_name,reg_mod_name=reg_mod_name,turbofish=false)}} {
        {{macros::bitfield_type(field=field,reg_struct_name=reg_struct_name,reg_mod_name=reg_mod_name,turbofish=true)}}::from_register(self,{{loop.index0}})
    }
    {% endfor %}
    {%- else %}
    pub fn {{field.name | to_func_id }}(self) -> {{macros::bitfield_type(field=field,reg_struct_name=reg_struct_name,reg_mod_name=reg_mod_name,turbofish=false)}} {
        {{macros::bitfield_type(field=field,reg_struct_name=reg_struct_name,reg_mod_name=reg_mod_name,turbofish=true)}}::from_register(self,0)
    }
    {%- endif -%}
    {%- endfor %}
}
{% endif -%}

{% if reg.has_enumerated_fields -%}
pub mod {{reg_mod_name}} {
    #[allow(unused_imports)]
    use crate::common;
    #[allow(unused_imports)]
    use crate::common::{
        AsPtr as _,  CastFrom, EnumBitfieldStruct, NoBitfieldReg as _, Read as _, Reg as _, RegisterValue as _,
        ResetValue as _, Write as _,
    };
    {% for field_name,field in reg.fields -%}
    {%- for enum_type in field.enum_types -%}
    {%- set enum_name_type= enum_type.name | to_struct_id %}
    #[derive(Clone, Copy, Eq, PartialEq, Ord, PartialOrd)]
    #[repr(transparent)]
    pub struct {{enum_name_type}}({{macros::reg_size2num_type(bit_size=enum_type.size)}});
    
    impl {{enum_name_type}} {
        pub fn new(value: {{macros::reg_size2num_type(bit_size=enum_type.size)}}) -> Self {
            Self(value)
        }
    }

    impl crate::common::EnumBitfieldStruct for {{enum_name_type}} {
        type RegNumberT = {{macros::reg_size2num_type(bit_size=enum_type.size)}};

        fn value(&self) -> Self::RegNumberT {
            self.0
        }
    }

    impl From<{{macros::reg_size2num_type(bit_size=enum_type.size)}}> for {{enum_name_type}} {
        #[inline(always)]
        fn from(value: {{macros::reg_size2num_type(bit_size=enum_type.size)}}) -> Self {
            Self(value)
        }
    }

    impl From<{{enum_name_type}}> for u64 {
        #[inline(always)]
        fn from(value: {{enum_name_type}}) -> Self {
            value.value().into()
        }
    }

    impl CastFrom<u64> for {{enum_name_type}} {
        #[inline(always)]
        fn cast_from(val: u64) -> Self {
            Self({{macros::reg_size2num_type(bit_size=enum_type.size)}}::cast_from(val))
        }
    }
    impl {{enum_name_type}} {
        {%- for val in enum_type.values %}
        {{macros::doc_attribute(documentation=val.description)}}
        pub const {{val.name | to_enumerated_const_id }}:Self =Self({{val.value}});
        {%- endfor %}
    }
    {%- endfor -%}
    {% endfor %}
}
{%- endif -%}
{%- endmacro -%}


/*
{{ir.license_text}}
*/
// Generated from SVD {{ir.version}}, with svd2pac {{svd2pac_version}} on {{now}}

#![allow(clippy::identity_op)]
#![allow(clippy::module_inception)]
#![allow(clippy::derivable_impls)]
#[allow(unused_imports)]
use crate::common;
#[allow(unused_imports)]
use crate::common::{
    AsPtr as _, NoBitfieldReg as _, ReadCore as _, Reg as _, RegisterValue as _,
    ResetValue as _, WriteCore as _,
};
#[doc = r"{{peri.description | svd_description_to_doc}}"]
{% set peri_struct = peri.struct_id | to_struct_id -%}
{% set peri_base_addr = peri.base_addr[0]  -%}
unsafe impl ::core::marker::Send for super::{{peri_struct}}  {}
unsafe impl ::core::marker::Sync for super::{{peri_struct}}  {}
impl super::{{peri_struct}} {
{%- for register_name,reg in peri.registers %}
{{self::register_core_func(types_mod="self",reg=reg, base_addr=peri_base_addr)}}
{% endfor -%}
{% for cluster_name,cluster in peri.clusters -%}
{{self::cluster_func_csfr(types_mod="self",cluster=cluster, base_addr=peri_base_addr)}}
{% endfor %}

}
{% for register_name,reg in peri.registers -%}
{{self::register_core_struct(reg=reg)}}
{% endfor %}
{% for cluster_name,cluster in peri.clusters -%}
{% for register_name,reg in cluster.registers -%}
{% set cluster_reg_name = cluster.name~"_"~reg.name  -%}
{{macros::register_struct(reg=reg,reg_name=cluster_reg_name,is_memory_mapped=false)}}
{% endfor %}
{% endfor %}

